#homeTitlePicture{
    margin-top:10px;
    margin-left:1em;
    margin-bottom: 1em;
    width: 570px;
    height: 120px;
}
ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-image: url("/HMFMSProposal/picture/barStyle.png");
    background-repeat: no-repeat;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
    color: white;
  }
  
  .active {
    background-color: #4CAF50;
  }
  .active:hover{
    color: white;
  }
  .main_func{
      height: 45px;
      margin: 10px;
      margin-bottom: 0px;
      margin-left: 3%;
      margin-right: 3%;
      padding-left: 20px;
      background-color:#c2c2c2;
      border-radius: 5px;

    }
  .main_func_text{
      color: #ffffff;
      float: left;
      margin-top: 14px;
  }
  .main_func:hover{
    background-color: #969696;
  }
  .hide_selecter{
    margin-bottom: 5px;
    margin-top: 30px;
    margin-left: 4%;
    background-color: #ffffff;
    width: 33%;
    overflow: hidden;
  }

.form-btn{
  float: right;
  margin: 10px;
  margin-right: 0px;
}
.quick-btn-area{
 float: right;
float: none;
}
.form-group{
  margin-bottom: 30px;
  height: 30px;
  }