#homeTitlePicture{
    margin-top:50px;
    margin-left:1em;
    margin-bottom: 1em;
    width: 500px;
    height: 120px;
}
ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
  .main_func{
      width: 95%;
      height: 45px;
      margin: 10px;
      margin-bottom: 0px;
      margin-left: 20px;
      margin-right: 20px;
      padding-left: 20px;
      background-color:#bababa;
      border-radius: 5px;
    }
  .main_func_text{
      color: #ffffff;
      float: left;
      margin-top: 12px;
  }
  .main_func:hover{
    background-color: #969696;
  }
