#homeTitlePicture{
    margin-top:50px;
    margin-left:1em;
    margin-bottom: 1em;
    width: 570px;
    height: 120px;
}
ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-image: url("/picture/barStyle.png");
    background-repeat: no-repeat;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
  .main_func{
      width: 95%;
      height: 45px;
      margin: 10px;
      margin-bottom: 0px;
      margin-left: 20px;
      margin-right: 20px;
      padding-left: 20px;
      background-color:#bababa;
      border-radius: 5px;

    }
  .main_func_text{
      color: #ffffff;
      float: left;
      margin-top: 12px;
  }
  .main_func:hover{
    background-color: #969696;
  }
  .hide_selecter{
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 25px;
    background-color: #ffffff;
    width: 28%;
    overflow: hidden;
    display: none;
  }
.inputer{
  margin: 20px;
}
.inparea{
  width: 250px;
  float:right;
}
.form-btn{
  float: right;
  margin-right: 20px;
}