#homeTitlePicture{
    margin-top:50px;
    margin-left:1em;
    margin-bottom: 1em;
    width: 570px;
    height: 120px;
}
ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-image: url("/picture/barStyle.png");
    background-repeat: no-repeat;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }