<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/HMFMSProposal/style/newLocationStyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/kendo/css/kendo.common-material.min.css">
    <link rel="stylesheet" href="/kendo/css/kendo.material.min.css">
    <title>Document</title>
</head>
<body>
        <img src = "/HMFMSProposal/picture/homeTitlePicture.jpg" id="homeTitlePicture">
        <ul>
            <li><a class="active" href="#home">HMFMSystem</a></li>
            <li><a href="/">設備查詢</a></li>
            <li><a href="/locationSelecter">地點查詢</a></li>
            <li><a href="/newEquitment">新增設備</a></li>
            <li><a href="#newLocation">新增地點</a></li>
        </ul>
        <h2 style="margin-left: 20px;">新增地點</h2>
</body>
</html>